@charset "utf-8";

.header_center {
    width: 70vw;
    min-width: 70rem;
    height: 6rem;
    margin: 1rem auto;
    margin-bottom: 0;
}

.logo {
    width: 6rem;
    height: 6rem;

    position: absolute;
    left: 15%;
}

.logo img {
    width: 5rem;
    height: 5rem;

    margin: 0.5rem;
}

.shortcut {
    width: 12rem;
    height: 3rem;

    position: absolute;
    right: 15%;
}

.shortcut li {
    float: left;
    width: 2rem;
    height: 2rem;

    margin: 0.5rem 1rem;
}

.shortcut a:hover {
    opacity: 0.5;
}

/*System Light Mode*/
@media (prefers-color-scheme : light) {
    .shortcut svg {
        background-color: #FFFFFF;
        fill: #000000;
    }
}

/*System Dark Mode*/
@media (prefers-color-scheme : dark) {
    .shortcut svg {
        background-color: #000000;
        fill: #FFFFFF;
    }
}